.mix-details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: var(--width-laptop);
  margin: 0 auto;
}
.mix-details .container-mix-details-top {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  border-top-left-radius: var(--radius-3xl);
  border-top-right-radius: var(--radius-3xl);
  border-bottom-right-radius: var(--radius-sm);
  border-bottom-left-radius: var(--radius-sm);
  padding: var(--space-xl);
  width: 100%;
  background-image: linear-gradient(var(--bg-gradient) , var(--bg-main));
}
.mix-details .container-mix-details-top > .top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.mix-details .top > img.right.cover-image {
  border-top-left-radius: var(--radius-2xl);
  border-top-right-radius: var(--radius-2xl);
  border-bottom-right-radius: var(--radius-sm);
  border-bottom-left-radius: var(--radius-sm);
}
.mix-details .top > .left {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}
.mix-details .top > .left > h3.title,
.mix-details .top > .left > .stage_name {
  background-color: var(--bg-main);
  color: var(--text-main);
  padding: var(--space-xs) var(--space-sm);
  width: fit-content;
}
.mix-details .top > .left > button {
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  background-image: linear-gradient(var(--btn-main), var(--bg-gradient));
  border: none;
  transition: 0.3s all ease;
}
.mix-details .top > .left > button:hover {
  background-image: linear-gradient(var(--btn-main), var(--bg-secondary));
}
.mix-details .top > .left > button > i {
  color: var(--text-main);
  font-size: var(--text-2xl);
}
.mix-details .container-mix-details-top > .bottom {
  width: 100%;
}
.mix-details .middle-section > .left > section.comment-section > img {
  width: 100px;
}
.waveform-container {
  position: relative;
  width: 100%;
}

.waveform-container canvas {
  display: block;
  width: 100% !important;
  height: 80px !important;
}
