.mix-details {
    display: flex;
    align-items: flex-start;
    width: var(--width-laptop);
    margin: 0 auto;
    margin-top: var(--space-3xl);

}
.mix-details .container-mix-details-top {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}
.mix-details .container-mix-details-top > .top {
    display: flex;
    align-items: flex-start;
    width: 100%;
}


.mix-details .middle-section > .left > section.comment-section > img {
    width: 100px;
    border-radius: inherit;
}