.discover {
  width: var(--width-laptop);
  margin: 0 auto;
  position: relative;
  margin-top: var(--space-sm);
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.discover header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discover header img.left-section {
  width: 25px;
  cursor: pointer;
}
.discover header .right-section {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
}
.discover header .right-section .profile-section {
  display: flex;
  align-items: flex-end;
  gap: var(--space-xs);
}
/* drop down notification */
.discover header .drop-down.drop-down-notification {
  position: absolute;
  background-color: var(--bg-main);
  border: 1px solid var(--text-secondary-op2);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  right: 0%;
  top: 150%;
  width: 375px;
  padding: var(--space-md);
}
.discover header .drop-down.drop-down-notification > .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: var(--space-md);
}
.discover header .drop-down.drop-down-notification > .top > h3 {
  color: var(--text-main);
}
.discover header .drop-down.drop-down-notification > .top > span {
  color: var(--text-secondary-op);
  font-size: var(--text-xss);
  cursor: pointer;
  transition: 0.2s all linear;
}
.discover header .drop-down.drop-down-notification > .top > span:hover {
  color: var(--text-main);
}
.discover header .other-section .notif-section {
  position: relative;
}
.discover header .other-section .notif-section > .notif-badge {
  width: 6px;
  height: 6px;
  background-color: var(--color-links);
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: -3px;
}




/* dropdown profile */
.discover header ul.drop-down-profile {
  background-color: var(--bg-main);
  border: 1px solid var(--text-secondary-op2);
  color: var(--text-main);
  list-style-type: none;
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  right: 0%;
  top: 150%;
}
.discover header ul.drop-down-profile > li {
  padding: var(--space-sm);
  margin-right: var(--space-xl);
  cursor: pointer;
  width: 100%;
}
.discover header ul.drop-down-profile > li > a {
  margin-left: var(--space-xs);
  color: var(--text-main);
  text-decoration: none;
  font-size: var(--text-xss);
}
.discover header ul.drop-down-profile > li:hover > a,
.discover header ul.drop-down-profile > li:hover > i {
  color: var(--text-secondary-op);
}

.discover header .right-section .profile-section > i,
.discover header .other-section .notif-section > i,
.discover header .other-section .other-options > i {
  color: var(--text-secondary-op);
  transition: 0.2s all linear;
  cursor: pointer;
}
.discover header .right-section .profile-section > i:hover,
.discover header .other-section .notif-section > i:hover,
.discover header .other-section .other-options > i:hover {
  color: var(--text-main);
}
.discover header .right-section .profile-section > i.clicked,
.discover header .other-section .notif-section > i.clicked,
.discover header .other-section .other-options > i.clicked {
  color: var(--text-main);
}
.discover header .right-section .profile-section > img {
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.discover header .other-section {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  color: var(--text-secondary-op);
}

/* main */
.discover main.main-section {
  display: flex;
  flex-direction: column;
}

.discover main.main-section section.top-section {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  align-items: center;
  margin-top: var(--space-2xl);
}
.discover main.main-section section.top-section .title {
  font-weight: 1000;
  color: var(--text-main);
}
.discover main.main-section section.top-section .title span.name-user {
  color: var(--color-links);
}

/* search bar */
.discover main.main-section section.top-section .container-search-bar {
  position: relative;
  width: 70%;
  height: 200px;
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  background-color: var(--bg-secondary);
  transition: 0.3s all ease-in;
}
/* input search query */
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > textarea {
  width: 100%;
  height: 70%;
  border-radius: inherit;
  outline: none;
  padding: var(--space-lg);
  background-color: transparent;
  resize: none;
  border-color: transparent;
  transition: 0.2s all linear;
  color: var(--text-main);
  transition: 0.3s all ease-in;
  overflow: hidden;
}
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > textarea:focus {
  border-color: var(--text-secondary-op);
}

.discover main.main-section section.top-section .container-search-bar > i {
  position: absolute;
  color: var(--text-secondary-op);
}
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > i.arrows-angle {
  right: 10px;
  top: 10px;
  font-size: 13px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all linear;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.072);
  border-radius: 50%;
}
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > i.bi-search {
  top: 2%;
  left: 1%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all linear;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s all ease-in;
}
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > i.bi-search:hover,
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > i.arrows-angle:hover,
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > i.arrows-angle.expanded {
  background-color: var(--border-color);
  color: var(--text-secondary);
}

/* bottom search input */

.discover
  main.main-section
  section.top-section
  .container-search-bar
  .bottom-search-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  display: flex;
  gap: var(--space-md);
  align-items: center;
  background-color: var(--border-color);
  padding-left: var(--space-lg);
  transition: 0.3s all ease-in;
}

.discover
  main.main-section
  section.top-section
  .container-search-bar
  .bottom-search-input
  > button {
  opacity: 1;
  padding: var(--space-xs);
  border-radius: var(--radius-md);
  cursor: pointer;
  border: 2px solid transparent;
  font-weight: bold;
  transition:
    opacity 0.3s ease 0.2s,
    color 0.3s ease,
    background-color 0.3s ease;
  background-color: var(--btn-main);
  color: var(--text-main);
  font-size: 10px;
}
@keyframes animateButtons {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.discover
  main.main-section
  section.top-section
  .container-search-bar
  .bottom-search-input
  > button
  > i {
  margin-left: var(--space-xl);
}
.discover
  main.main-section
  section.top-section
  .container-search-bar
  .bottom-search-input
  > button:hover {
  background-color: var(--btn-hover);
  color: var(--btn-text-hover);
}

/* expanded search bar effect */
.discover
  main.main-section
  section.top-section
  .container-search-bar.expanded-search-bar {
  height: 50px;
}

.discover
  main.main-section
  section.top-section
  .container-search-bar.expanded-search-bar
  > textarea {
  padding: var(--space-sm) var(--space-2xl);
  border-color: transparent;
}

.discover
  main.main-section
  section.top-section
  .container-search-bar.expanded-search-bar
  > .bottom-search-input {
  height: 3%;
  border: none;
}
.discover
  main.main-section
  section.top-section
  .container-search-bar.expanded-search-bar:focus-within
  > .bottom-search-input {
  background-color: var(--text-secondary-op);
}
.discover
  main.main-section
  section.top-section
  .container-search-bar.expanded-search-bar
  > .bottom-search-input
  > button,
.discover
  main.main-section
  section.top-section
  .container-search-bar.expanded-search-bar
  > .bottom-search-input
  .infoSelected {
  opacity: 0;
  pointer-events: none;
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
.discover
  main.main-section
  section.top-section
  .container-search-bar:not(.expanded-search-bar)
  > .bottom-search-input
  .infoSelected {
  opacity: 1;
  transition:
    opacity 0.3s 0.3s ease,
    transform 0.3s ease;
}

/* drop down type and bpm*/

.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  > ul {
  position: absolute;
  bottom: -350%;
  left: 17%;
  background-color: var(--b-primary-hover);
  color: var(--text-main);
  list-style-type: none;
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  > ul
  > li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-xs);
  transition: 0.2s all linear;
  font-size: 11px;
  border-radius: inherit;
  cursor: pointer;
}
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  > ul
  > li:hover {
  background-color: var(--btn-main);
}
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  > ul
  > li.selected {
  background-color: var(--btn-main);
}

/* type selected from dropdown  */

.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  .infoSelected {
  opacity: 0;
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  transition: 0.3s all linear;
}

.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  .infoSelected
  .info-selected-type {
  font-size: 10px;
  text-transform: uppercase;
  background-color: var(--bg-main);
  padding: var(--space-xs);
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  user-select: none;
}
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  .infoSelected
  .info-selected-type
  > i {
  border-radius: 50%;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  .infoSelected
  .info-selected-type
  > i:hover {
  background-color: var(--text-secondary-op2);
}

/* bpm drop down */
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  .drop-down-bpm {
  padding: var(--space-md);
  background-color: var(--b-primary-hover);
  top: 100%;
  left: -10%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--radius-sm);
  gap: var(--space-xs);
}

.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  .drop-down-bpm
  .container-input
  > input {
  padding: var(--input-padding);
  border-radius: var(--radius-sm);
  border: 1px solid transparent;
  background-color: var(--border-color);
  color: var(--text-main);
  transition: 0.3s all ease;
  outline: none;
  font-size: 11px;
}
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  .drop-down-bpm
  .container-input
  > input:focus {
  border-color: var(--text-secondary-op);
}
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  .drop-down-bpm
  .container-input
  > input::placeholder {
  font-size: 10px;
  color: var(--text-secondary-op);
}
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  .drop-down-bpm
  > button {
  padding: var(--space-xs);
  border-radius: var(--radius-md);
  cursor: pointer;
  border: 2px solid transparent;
  font-weight: bold;
  transition:
    opacity 0.3s ease 0.2s,
    color 0.3s ease,
    background-color 0.3s ease;
  background-color: var(--btn-hover);
  color: var(--text-black);
  font-size: 10px;
  width: 80%;
  margin: 0 auto;
}
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  .drop-down-bpm
  > button:hover {
  color: var(--text-secondary-op);
}
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  .drop-down-bpm
  .line {
  width: 90%;
  height: 0.1px;
  background-color: var(--text-secondary-op);
  margin-top: var(--space-md);
}
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  .drop-down-bpm
  .infoSelected {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  .drop-down-bpm
  .infoSelected
  > .info-selected-bpm {
  font-size: 10px;
  text-transform: uppercase;
  background-color: var(--bg-main);
  padding: var(--space-xs);
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  user-select: none;
}
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  .drop-down-bpm
  .infoSelected
  > .info-selected-bpm
  > i {
  border-radius: 50%;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  .drop-down-bpm
  .infoSelected
  > .info-selected-bpm
  > i:hover {
  background-color: var(--text-secondary-op2);
}

.discover
  main.main-section
  section.top-section
  .container-search-bar
  > .bottom-search-input
  .drop-down-bpm
  .message-user-bpm {
  font-size: 10px;
  width: 70%;
  align-self: center;
}

/* error */
form p.error {
  font-size: 12px;
  color: red;
  margin-top: 3px;
  font-size: 10px;
}

/* middle section */
.discover main .middle-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--space-2xl);
  margin-top: var(--space-4xl);
  margin-bottom: var(--space-4xl);
}
.discover main .middle-section .left-section-in-middle {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
}
.discover main .middle-section .right-section-in-middle {
  width: 30%;
}

.discover main .middle-section .left-section-in-middle .container-mixes {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}
