@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
:root {
  --width-laptop: 1240px;
  /* colors */
  --bg-main: #17152f;
  --bg-gradient: #3429c7;
  --bg-secondary: #232139;
  --bg-third: #222039;
  --bg-hover: #222222;
  --bg-fhored: rgb(242, 240, 255);
  --bg-style: rgb(255, 213, 0);

  --text-main: #ffffff;
  --text-secondary: #b3b3b3;
  --text-secondary-op: #828282;
  --text-secondary-op2: rgba(128, 128, 128, 0.072);
  --text-primary-hover: #5928e5;
  --text-third: #ff320d;
  --text-black: black;

  --b-primary: #5928e5;
  --b-primary-hover: #3c1d93;
  --b-secondary-hover: #f3f3f3;

  --border-color: #323047;
  --input-padding: 10px 20px;
  --color-links: #00aaff;

  /* spacing */
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 22px;
  --space-lg: 34px;
  --space-xl: 42px;
  --space-2xl: 70px;
  --space-3xl: 102px;
  --space-4xl: 122px;

  /* radius */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;
  --radius-xl: 22px;
  --radius-2xl: 40px;

  /* font sizes */
  --text-xss: 13px;
  --text-xxs: 17px;
  --text-xs: 22px;
  --text-sm: 24px;
  --text-md: 26px;
  --text-lg: 30px;
  --text-xl: 44px;
  --text-2xl: 52px;

  /* buttons */
  --btn-main: #5928e5;
  --btn-hover: #f3f3f3;
  --btn-text-hover: #5928e5;

  /* links */
  --link-hover: #8860f8;
}
html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
h1 {
  font-size: var(--text-2xl);
  font-weight: 600;
}

h2 {
  font-size: var(--text-xl);
  font-weight: 600;
}

h3 {
  font-size: var(--text-lg);
}
h4 {
  font-size: var(--text-md);
}
h5 {
  font-size: var(--text-xxs);
}
p {
  font-size: var(--text-xss);
  color: var(--text-secondary);
}

body {
  background-color: var(--bg-main);
  /* height: 100vh; */
}
.drop-down {
  z-index: 999;
}
